/*
 * Faviroll backend CSS file
 * Author: andurban.de
 * Version: latest
 */

/* Manage Links Backend Panel */
.column-faviroll {
 width:16px;
}

/* Faviroll Backend Panel */
.faviroll-visible {visibility:visible; padding-left:10px;}
.faviroll-hidden  {visibility:hidden;}

/* FaviRoll Option Page Bookmark Table */
.faviroll-table {
  margin: 5px 0px 5px 5px;
}

.faviroll-table th {
 padding: 6px;
 text-align:left;
 font-weight:bold;
 font-size:1.1em;
 line-height:20px;
 height: 20px;
 nowrap:nowrap;
}

.faviroll-table th#_reload {
 padding-left:28px;
 cursor:pointer;
 background:url(../img/reload.png) 6px center no-repeat;
}
.faviroll-table th#_reload:hover {
 background:url(../img/reload-hover.png) 6px center no-repeat;
}

.faviroll-table td.actions {
 padding:0px;
 width:480px;
}
.faviroll-table td.notice {
 line-height:30px;
 height:52px;
 background:url(../img/green-arrow.png) 8px bottom no-repeat;
}

.faviroll-table td img.icon {
 margin:-4px 8px;
}

.faviroll-table td.setcolumn {
 cursor:pointer;
 width:70px;
}

.faviroll-table tr:nth-child(even) {
 background: #d8e4e5;
}
.faviroll-table td.link {
 text-align:left;
 padding-left:6px;
}

.faviroll-table td.link strong {
 display:block;
 line-height:22px;
 height:22px;
 padding-left:20px;
 background:0px center no-repeat;
}

.faviroll-table td input.radio {
 margin:0px auto;
}

.faviroll-table td input.button {
 padding:1px 5px 1px 5px;
 margin:4px 4px 4px 4px;
 border:none;
}

.faviroll-table td.icon {
 background:url(../img/dumpster.png)  14px center no-repeat;
 font-weight:bold;
 height:70px;
 line-height:70px;
 margin-bottom:14px;
 text-align:left;
 padding-left:70px;
}

#_faviroll_initbutton {
 font-size:2em;
 padding:10px;
}

#_faviroll_countdown {
 margin-left:260px;
 display:inline;
 padding:15px;
 font-size:2.8em;
}

/*eof*/
